autopep8
jupyter
pandas
docker
namedlist
matplotlib
flask
openai
azure-identity
azure-keyvault-secrets
azure-kusto-data
azure-kusto-ingest
python-dotenv
vega_datasets
litellm
duckdb
-e . #also need to install data formulator itself